<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="container">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="/img/close.png"/>
                    </button>
                </div>
                <div class="modal-body clearfix">
                    <div id="about" class="clearfix">
                        <div class="logo-section">
                            <img src="/img/about-logo.jpg" class="center-block"/>
                        </div>
                        <div class="description-section">
                            <p>Enchant your senses. Rejuvenate your spirit.<br/>
                                Fleur Oils celebrate the age-old traditions of wellness with essential oils. Whether you desire common oils or exotic, all of our selections are sourced from respected Fair Trade farms and cooperatives around the world. These small producers maintain traditional methods of oil extraction to ensure quality, purity, and sustainable sourcing. The result is an exceptional selection of essential oils at prices you can’t resist.
                            </p>
                        </div>
                        <div class="button-section">
                            <a href="/" class="shop-now">SHOW NOW</a>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div><!-- /.modal -->


