<div class="filter-container">
    <div class="container-fluid">
        <div id="filters-button-group" class="filters-button-group button-group clearfix">
            <fieldset>
            {% for filter in site.filter %}
            {% assign counter = counter | plus: 1%}
            <button {% if counter == 1 %} class="filter active" {% else %} class="filter" {% endif %} data-filter=".{{ filter.filter }}">{{ filter.name }}</button>
            {% endfor %}
            <div class="search-container">
                <input type="text" placeholder="Search products" class="inputSearch form-control" id="search-name1">
                <span class="search-icon glyphicon glyphicon-search"></span>
            </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="content-container">
    <div class="container-fluid">
        <div class="left-section col-md-2">
            {% include home/filter.html %}
        </div>
        <div class="right-section col-md-10">
            {% include home/product-result.html %}
        </div>
    </div>
</div>

{% include modal.html %}