<div class="filters-button-group section-content">
    <h5 class="section-title">FILTER BY</h5>
    <hr class="divider"/>
    <fieldset>
        <select class="btn filter-btn btn-default">
            <option value="">All</option>
            <option value=".new">New</option>
            <option value=".best-buy">Best Buy</option>
        </select>
    </fieldset>
</div>


<div class="section-content">
    <h5 class="section-title">SORT BY</h5>
    <hr class="divider"/>
    <fieldset>
        <select id="sort-btn" class="btn btn-default">
            <option value="default:asc">Default</option>
            <option value="price:asc">Price: Low to High</option>
            <option value="price:desc">Price: High to Low</option>
        </select>
    </fieldset>
</div>




